@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&display=swap');

body {
  background-color: #edf2f6;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
}

.header-ceil {
  border-top: 8px solid red;
}

.title-header {
  background-color: #fdcb6e;
}
.title-field:focus {
  box-shadow: 0 0 0 0.1rem #000000;
}
.add-button {
  background-color: #fdcb6e;
  border: 2px solid #fdcb6e;
}

.add-button:hover,
.add-button:active,
.add-button:focus {
  background-color: #e2b86a;
  border: 2px solid #eb9a05;
}

.add-button.btn-check:focus + .add-button.btn,
.add-button.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem #eb9a05;
}
.featurelist-container {
  background-color: #eee;
  margin-top: 20px;
  padding: 10px;
}
.featurelist-container p:nth-child(1) {
  margin-right: 100px;
}

.featurelist-container p:nth-child(2) {
  margin-right: 100px;
}

.featurelist-container p:nth-child(2) {
  margin-right: 100px;
}
